⋆ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;

}

.box_1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.box_2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.box_3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.box_4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box_5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.box_6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.box_7 {
  width: 200px;
  height: 200px;
  background-color:  #e9ffa5;
}

.box_8 {
  width:200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box_9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.box_10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.box_11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.box_12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

.footer {
  width: 100%;
  height: 120px;
  background-color: #848282;
  line-height: 120px;
  text-align: center;
}

.footer-text {
  color: #fff;
}